@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: rgb(255, 239, 214);
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", "sans-serif";
    color: #ea7602;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 4px;
}

.font-english {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-hiragana {
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*レイアウト*/
.wrapper

/*横幅を整える外枠*/
    {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

/*ヘッダー/TOP*/
.page-header {
    padding-top: 3rem;
}

/*ナビ*/
.main-nav {
    list-style: none;
    padding: 1rem;
}

.menu-btn {
    display: block;
    font-size: 20px;
    background: none;
    border: none;
}

.menu-btn img {
    height: auto;
    width: 40px;
    margin-left: 3rem;
    position: fixed;
    max-width: 100%;
}

.nav {
    display: none;

}

.nav.open {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 255, 255, .9);

}

.main-nav {
    text-align: center;
    margin-top: 5rem;
}

.main-nav a {
    color: #02bfc2;
    font-size: 22px;
    text-decoration: none;
}

.main-nav li {
    margin-bottom: 1rem;
}

.logo {
    margin: 0;
    display: none;
}

.nav-logo {
    height: auto;
    width: 40px;
    margin-bottom: 3rem;
}

/*top*/
.top {
    text-align: center;
    color: #492f1c;
    font-size: 5rem;
    margin-top: 4rem;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.item {
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 0rem;
    padding: 10px 10px;
    width: 12rem;
}

.item h2 {
    text-align: left;
}

.item p {
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border: 2px solid rgb(26, 68, 66);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 12rem;
}

/*前職*/
.career {
    text-align: center;
    margin: 5rem 0 2rem;
    color: #492f1c;
}

.jobitem th {
    white-space: nowrap;
    font-size: 15px;
    color: #492f1c;
    padding-left: 1rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
    padding: 1rem;
}

.jobitem td {
    padding: 1rem;
}

.jobitem th,
.jobitem td {
    border-bottom: 1px dashed #1a4442;
    border-spacing: 0;
    line-height: 1.7;
}

/*イベント担当での制作物*/
.works {
    text-align: center;
    margin-top: 5rem;
}

.works h1 {
    color: #492f1c;
    font-size: 30px;
}

.works p {
    margin: 3rem;
}

.photo img {
    aspect-ratio: 1/1;
    border-radius: 30px;
    object-fit: cover;
    width: 11rem;
    max-width: 100%;
    height: auto;
}

.photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 2rem;
    background-image: url("images/haikei18.JPEG");
    background-size: 50%;
    background-repeat: repeat;
    min-height: 300px;
}

.works h3 {
    width: 25rem;
    margin-top: 2rem;
    border-width: 1.7px;
    border-style: dashed;
    border-color: #1a4442;
    color: #492f1c;
    margin-bottom: 3rem;
}

.photo-name {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    gap: 2rem;
    white-space: nowrap;
}

/*現在*/
.now {
    text-align: center;
    margin-top: 5rem;
}

.now h1 {
    color: #492f1c;
}

.now p {
    margin: 3rem;
}

/*メール*/
.mail {
    font-size: 15px;
    padding: 0 .5rem 2rem .5rem;
    max-width: 100%;
    margin: auto;
    border-spacing: 0;
}

.mail th,
.mail td {
    margin: 0 5rem;
    padding: 10px;
    border-bottom: 1px solid #c9c2bc;

}

.mail td {
    text-align: center;
    white-space: nowrap;
}

.mail th {
    color: #492f1c;
}

.copylight {
    text-align: center;
    margin: 0;
    background-color: #1a4442;
    padding: .5rem;
}

.mail-btn {
    text-align: center;
    margin-bottom: 5rem;
}

.mail-btn a:hover {
    background-color: #02bfc2;
}

.mail-btn a {
    padding: 15px;
    background-color: #1a4442;
    font-size: 1rem;
    color: #fff3b8;
    border-radius: 20px;
    text-decoration: none;
}


/**デスクトップ版**/
@media(min-width: 800px) {
    body {
        font-size: large;
    }

    .page-header {
        background-image: url(images/haikei19.JPEG);
        background-size: contain;
        height: 300px;
        max-width: 100%;
        background-position: center;
    }

    .wrapper {
        max-width: 1200px;
        margin: auto;
    }

    /*ナビ*/
    .logo {
        display: none;
    }

    .nav-logo {
        display: none;
    }

    .nav {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        padding-top: 40px;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
    }

    .main-nav {
        display: flex;
        gap: 2rem;
        margin-top: 0;
    }

    .main-nav a {
        font-size: 15px;
        text-decoration: none;
        color: #492f1c;
        font-weight: 600;
    }

    .menu-btn {
        display: none;
    }

    /*トップ*/
    .top {
        margin-top: 3rem;
    }

    .top {
        font-size: 10rem;
    }

    /*前職*/
    .career {
        text-align: center;
        margin: 5rem 0 2rem;
        color: #492f1c;
    }

    .jobitem th {
        white-space: nowrap;
        font-size: 20px;
        color: #492f1c;
        padding-left: 1rem;
        writing-mode: horizontal-tb;
        text-align: center;
    }

    .jobitem td {
        padding: 2rem;
    }

    .jobitem th,
    .jobitem td {
        border-bottom: 1px dashed #1a4442;
        line-height: 1.7;
    }

    .job {
        margin-top: 0rem;
    }

    .jobitem th {
        padding: 3rem;
    }

    .career {
        margin: 0;
    }

    /*制作物*/
    .photo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding: 0 2rem;
    }

    .photo img {
        max-width: 100%;
        height: auto;
        width: 20rem;
    }

    .works h3 {
        display: none;
    }
}